
/* Background colors */
body {
    background-color: #DDFBFF;
}

.jumbotron {
    background-color: #78DBE8;
}

/* Font style */
.display-4,
.lead {
    font-family: 'Nunito', sans-serif;
    color: #213C40;
    line-height: 1.5;
}

.lead {
    font-size: 1.5rem;
}

/* Individual images and container */
img {
    width: 16rem;
    margin: 1rem;
}

#crystal-container {
    width: 90%;
    margin: auto;
}

